#container{/Users/sugawaramegumi/Desktop/webLesson/day3/index.html 
	margin:0 auto;
	padding:10px;
}
header{
	background-size:cover;
	background:url(../images/hokuoMain.jpg);
	height:400px;
	}
header h1{
		font-size:3.5vw;
		color:#666;
		line-height:400px;
		padding:0 auto;
		text-align:center;
	}
nav ul{
	display:flex;
	flex-direction:low;
	justify-content:space-around;
	padding:5px 10px;
	background:#c8c8c8;
	}
nav ul li a{
	text-decoration:none;
	}
*{box-sizing:border-box;}
#boxCP-1{
		width:100px;
		height:100px;
		background:#c19cff;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px auto;
		}
#boxCP-2{
		width:100px;
		height:100px;
		background:#8fefc9;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px auto;
		}
#boxCP-3{
		width:100px;
		height:100px;
		background:#c8c8c8;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px auto;
		}
#boxCP-4{
		width:100px;
		height:100px;
		background:#87aaff;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px auto;
		}
#boxM-1{
		width:100px;
		height:100px;
		background:#fff;
		border:1px solid #ccc;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px auto;
		}
#boxM-2{
		width:100px;
		height:100px;
		background:#0026ff;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px auto;
		}
#boxM-3{
		width:100px;
		height:100px;
		background:#9ae6ff;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px auto;
		}
#boxM-4{
		width:100px;
		height:100px;
		background:#ffd900;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px auto;
		}
#boxN-1{
		width:100px;
		height:100px;
		background:#552716;
		border:1px solid #ccc;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px auto;
		}
#boxN-2{
		width:100px;
		height:100px;
		background:#83be91;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px auto;
		}
#boxN-3{
		width:100px;
		height:100px;
		background:#e5f0e8;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px auto;
		}
#boxN-4{
		width:100px;
		height:100px;
		background:#e5ffc5;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px auto;
		}
.cl_paCool{color:#654032;}
.cl_marine{color:#000;}
.cl_pastel4{color:#87aaff;}
.cl_fff{color:#fff;}
#p1{
	text-align:center;
	margin:0 auto;
}
p{
		padding:30px;
	}
h2{
		background:#c8c8c8;
		color:#fff;
		text-align:center;

	}
ul li img{
		display:block;
		width:50%;
		border:0.2px solid #8c8c8c;
		box-sizing:border-box;
		list-style:none;
		float:left;
	}
footer{
		background:#c8c8c8;
		flex-direction:row;
		text-align:center;
		padding:10px;
		color:#fff;
	}
