header{
		background-size:cover;
		background:url(../images/color_unique.jpg);
		height:400px;
	}
header h1{
		font-size:3.5vw;
		color:#666;
		line-height:400px;
		padding:0 auto;
		text-align:center;
	}
nav ul{
		display:flex;
		flex-direction:low;
		justify-content:space-around;
		background:#c8c8c8;
	}
nav ul li a{
		text-decoration:none;
	}
*{box-sizing:border-box;}
#colorCircle{
		display:flex;
	}
h2{
		font-size:3.5vw;
		padding-top:10px;
		color:#666;
		text-align:center;
	}
#colorCircle .mode1{
		width:100px;
		height:100px;
		background:#ff005c;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#fff;
		}
#colorCircle .mode2{
		width:100px;
		height:100px;
		background:#505050;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#fff;
		}
#colorCircle .mode3{
		width:100px;
		height:100px;
		background:#009a80;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#fff;
		}
#colorCircle .mode4{
		width:100px;
		height:100px;
		background:#969696;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#fff;
		}
#colorCircle .marine1{
		width:100px;
		height:100px;
		background:#fff;
		border-radius:50%;
		border:0.2px solid #666;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#666;
		}
#colorCircle .marine2{
		width:100px;
		height:100px;
		background:#0026ff;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#fff;
		}
#colorCircle .marine3{
		width:100px;
		height:100px;
		background:#ffd900;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#fff;
		}
#colorCircle .marine4{
		width:100px;
		height:100px;
		background:#8aedff;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#fff;
		}
#colorCircle .pank1{
		width:100px;
		height:100px;
		background:#00ee38;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#666;
		}
#colorCircle .pank2{
		width:100px;
		height:100px;
		background:#d4000f;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#fff;
		}
#colorCircle .pank3{
		width:100px;
		height:100px;
		background:#0a0909;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#fff;
		}
#colorCircle .pank4{
		width:100px;
		height:100px;
		background:#f60cff;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#fff;
		}
footer{
		background:#c8c8c8;
		flex-direction:row;
		text-align:center;
		padding:10px;
		color:#fff;
	}
