header{
		background-size:cover;
		background:url(../images/color_cute.jpg);
		height:400px;
	}
header h1{
		font-size:5vw;
		color:#666;
		line-height:400px;
		padding:0 auto;
		text-align:center;
	}
nav ul{
		display:flex;
		flex-direction:low;
		justify-content:space-around;
		background:#c8c8c8;
	}
nav ul li a{
		text-decoration:none;
	}
*{box-sizing:border-box;}
h2{
	font-size:3.5vw;
	color:#666;
	padding-top:10px;
	text-align:center;
	}
#colorCircleP{
		display:flex;
		justify-content:center;
	}
#colorCircleF{
		display:flex;
		justify-content:center;
	}
#colorCircleSB{
		display:flex;
		justify-content:center;
	}
#boxP-1{
		width:100px;
		height:100px;
		background:#ffc0cb;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#654032;
		}
#boxP-2{
		width:100px;
		height:100px;
		background:#c5ee8f;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#654032;
		}
#boxP-3{
		width:100px;
		height:100px;
		background:#fffac5;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#654032;
		}
#boxP-4{
		width:100px;
		height:100px;
		background:#ffc974;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#654032;
		}
#boxF-1{
		width:100px;
		height:100px;
		background:#6e54b7;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#654032;
		}
#boxF-2{
		width:100px;
		height:100px;
		background:#adafbc;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#654032;
		}
#boxF-3{
		width:100px;
		height:100px;
		background:#f68fba;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#654032;
		}
#boxF-4{
		width:100px;
		height:100px;
		background:#eedde7;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#654032;
		}
#boxSB-1{
		width:100px;
		height:100px;
		background:#c19cff;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#654032;
		}
#boxSB-2{
		width:100px;
		height:100px;
		background:#8fcfe9;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#654032;
		}
#boxSB-3{
		width:100px;
		height:100px;
		background:#c8c8c8;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#654032;
		}
#boxSB-4{
		width:100px;
		height:100px;
		background:#87aaff;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#654032;
		}
footer{
		background:#c8c8c8;
		flex-direction:row;
		text-align:center;
		padding:10px;
		color:#fff;
	}
