header{
		background-size:cover;
		background:url(../images/color_natural.jpg);
		height:400px;
	}
header h1{
		font-size:3.5vw;
		color:#666;
		line-height:400px;
		padding:0 auto;
		text-align:center;
	}
nav ul{
		display:flex;
		flex-direction:low;
		justify-content:space-around;
		background:#c8c8c8;
	}
nav ul li a{
		text-decoration:none;
	}
*{box-sizing:border-box;}
#colorCircle{
		display:flex;
	}
h2{
		font-size:3.5vw;
		padding-top:10px;
		color:#666;
		text-align:center;
	}
#colorCircle .leaf1{
		width:100px;
		height:100px;
		background:#75522a;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#fff;
		}
#colorCircle .leaf2{
		width:100px;
		height:100px;
		background:#c7db96;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#fff;
		}
#colorCircle .leaf3{
		width:100px;
		height:100px;
		background:#c7b996;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#444;
		}
#colorCircle .leaf4{
		width:100px;
		height:100px;
		background:#fff;
		border-radius:50%;
		border:0.2px solid #444;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#444;
		}
#colorCircle .sunforest1{
		width:100px;
		height:100px;
		background:#552716;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#fff;
		}
#colorCircle .sunforest2{
		width:100px;
		height:100px;
		background:#83be91;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#fff;
		}
#colorCircle .sunforest3{
		width:100px;
		height:100px;
		background:#e5f0e8;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#444;
		}
#colorCircle .sunforest4{
		width:100px;
		height:100px;
		background:#ffc974;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#fff;
		}
#colorCircle .north1{
		width:100px;
		height:100px;
		background:#a3dde8;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#fff;
		}
#colorCircle .north2{
		width:100px;
		height:100px;
		background:#9dd949;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#fff;
		}
#colorCircle .north3{
		width:100px;
		height:100px;
		background:#ffa03c;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#fff;
		}
#colorCircle .north4{
		width:100px;
		height:100px;
		background:#71788b;
		border-radius:50%;
		text-align:center;
		line-height:100px;
		margin:10px;
		color:#fff;
		}
footer{
		background:#c8c8c8;
		flex-direction:row;
		text-align:center;
		padding:10px;
		color:#fff;
	}
